/SingleResponsabilityPattern/.vs/SingleResponsabilityPattern/v16/Server/sqlite3/db.lock
/SingleResponsabilityPattern/.vs/SingleResponsabilityPattern/v16/Server/sqlite3/storage.ide
/SingleResponsabilityPattern/.vs/SingleResponsabilityPattern/v16/Server/sqlite3/storage.ide-shm
/SingleResponsabilityPattern/.vs/SingleResponsabilityPattern/v16/Server/sqlite3/storage.ide-wal
/SingleResponsabilityPattern/bin/Debug/netcoreapp2.2/SingleResponsabilityPattern.deps.json
/SingleResponsabilityPattern/bin/Debug/netcoreapp2.2/SingleResponsabilityPattern.runtimeconfig.dev.json
/SingleResponsabilityPattern/bin/Debug/netcoreapp2.2/SingleResponsabilityPattern.runtimeconfig.json
/SingleResponsabilityPattern/obj/Debug/netcoreapp2.2/SingleResponsabilityPattern.AssemblyInfo.cs
/SingleResponsabilityPattern/obj/Debug/netcoreapp2.2/SingleResponsabilityPattern.csproj.FileListAbsolute.txt
/SingleResponsabilityPattern/obj/project.assets.json
/SingleResponsabilityPattern/obj/SingleResponsabilityPattern.csproj.nuget.dgspec.json
/SingleResponsabilityPattern/obj/SingleResponsabilityPattern.csproj.nuget.g.props
/SingleResponsabilityPattern/obj/SingleResponsabilityPattern.csproj.nuget.g.targets
/SingleResponsabilityPattern/SingleResponsabilityPattern.csproj
/SingleResponsabilityPattern/SingleResponsabilityPattern.sln
